<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sofascore-college.scraper</string>

  <key>ProgramArguments</key>
  <array>
    <string>__RSCRIPT__</string>
    <string>__SCRAPER__</string>
    <string>--output</string>
    <string>__OUTPUT__</string>
    <string>--division</string>
    <string>1</string>
    <string>--gender</string>
    <string>men</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__PROJECT__</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>

  <key>ProcessType</key>
  <string>Background</string>

  <key>StandardOutPath</key>
  <string>__STDOUT__</string>

  <key>StandardErrorPath</key>
  <string>__STDERR__</string>
</dict>
</plist>
